:root {
	--text-color: #634846;
	--color-white: #fff;
	--color-black: #000000;
	--primary-color: #884e4a;
	--icon-color: #884e4a;
	--header-color: #41aea7;
}

html {
	font-size: 62.5%;
	line-height: 1.6rem;
	box-sizing: border-box;
	user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
}

.text-primary {
	color: var(--primary-color) !important;
}

.text-color {
	color: var(--text-color) !important;
}

.text-white {
	color: var(--color-white);
}

.text-black {
	color: var(--color-black);
}

.bg-white {
	background: var(--color-white);
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(248, 249, 250, var(--bs-bg-opacity)) !important
}

.btn-primary {
	padding: 10px 15px;
	border-radius: 2rem;
	color: var(--primary-color);
	min-width: 100px;
	border: none;
	font-size: 1.6rem;
	background: #eee;
    line-height: 2rem;
}

.btn-primary:hover {
	color: white;
	background: #af6964;
}

.btn-primary.active {
	cursor: default;
	color: white;
	background: var(--primary-color);
}

@keyframes lon_dan_len {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes hien_dan_len {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translateX(calc(100% + 32px));
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}