:root {
	--text-color: #9b4e4a;
	--border-color: #dbdbdb;
	--primary-color: #884e4a;
	--icon-color: #884e4a;
}

* {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	line-height: 1.6rem;
	box-sizing: border-box;
	-moz-user-select: none !important;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.my-6 {
	margin-bottom: 6rem !important;
	margin-top: 6rem !important;
}


.mb-6 {
	margin-bottom: 6rem !important;
}


.btn-primary {
	padding: 10px 15px;
	border-radius: 2rem;
	color: var(--primary-color);
	min-width: 100px;
	border: none;
	font-size: 1.6rem;
	background: #eee;
    line-height: 2rem;
}

.btn-primary:hover {
	color: white;
	background: #af6964;
}

.btn-primary.active {
	cursor: default;
	color: white;
	background: var(--primary-color);
}

.w-5 {
	width: 5% !important;
}

.w-10 {
	width: 10% !important;
}

.w-15 {
	width: 15% !important;
}

.w-20 {
	width: 20% !important;
}

.w-30 {
	width: 30% !important;
}

.flex-1 {
	flex: 1 !important;
}

@keyframes lon_dan_len {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes hien_dan_len {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translateX(calc(100% + 32px));
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}